@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
*{
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #3e4451;
}
.nav-bar-wrapper{
  padding: 10px;
  display: flex;
}
.nav-bar-image{
  width: 50px;
}
.nav-bar-left{
  font-family: 'Bricolage Grotesque', sans-serif;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-left: 10px;
  float: left;
  width: 50%;
}
.nav-bar-left-light{
  color: black;
}
.nav-bar-right{
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}
.sign-in-btn{
  border: 2px solid rgba(71, 69, 69, 0.577);
  cursor: pointer;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.input-form{
  padding: 20px;
  display: grid;
}
.username-input,.password-input{
  padding: 5px;
  display: flex;
  align-items: center;
}
ion-icon{
  margin-left: 5px;
}
.input{
  padding: 5px 3px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(75, 74, 74, 0.353);
}
.sign-in-modal{
  opacity: 0;
  z-index: -2;
  box-shadow: 0.5px 0.5px 1px 1px;
  border: 2px solid rgba(75, 74, 74, 0.353);
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
  padding: 40px;
  text-align: center;
  transition: 0.5s;
}
.sign-in-modal-light-mode{
  color: #3e4451;
}
.sign-in-modal span{
  font-size: 28px;
  position: absolute;
  top: 1px;
  left: 91%;
  cursor: pointer;
}
.form-sign-in{
  width: max-content;
  transform: translateX(-15px);
  margin: 10px;
}
.sign-in-link,.remember-me{
  margin: 3px 5px;
  text-align: left;
}
.sign-in-link{
  color: #6edff6;
}
.sign-in-add{
opacity: 1;
z-index: 0;
}
.mode{
  border: 2px;
  border-radius: 5px;
  margin-left: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}
.mode-light{
  color: #3e4451;
}
.sign-in-modechange{
  background-color: white;
}